.main-container {
  display: flex;
  justify-content: center;
  background-color: white;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(1400 / 1920 * 100%);
  width: auto;
  margin-top: 120px;
  gap: 0px calc(132 / 1920 * 100%);
  @media (max-width: 768px) {
    margin-top: 80px;
  }
  @media (max-width: 1400px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 60%;
    margin-top: 40px;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  width: calc(596 / 1920 * 100%);
  @media (max-width: 768px) {
    width: 100%;
    padding: 20px;
  }
  @media (max-width: 1400px) {
    width: 70%;
  }
  .title {
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
    color: #121212;
    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
  .description {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #666666;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  .get-started-button {
    width: fit-content;
    padding: 14px 24px;
    border-radius: 12px;
    background: #121212;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    cursor: pointer;
    &:hover {
      background: #333333;
      transition: background 0.3s ease;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      padding: 10px 16px;
    }
  }
}

.klleon-chat-conatiner {
  position: relative;
  display: flex;
  width: 672px;
  height: 576px;
  gap: 0px 24px;
  @media (max-width: 1400px) {
    width: 100%;
    flex-basis: 480px;
  }
  @media (max-width: 768px) {
    display: none;
  }
  .control-container {
    position: relative;
    display: flex;
    flex-direction: column;
    .bottom-container {
      position: absolute;
      display: flex;
      align-items: center;
      left: 0;
      top: calc(100% + 12px);
      width: 100%;
      height: 48px;
      border-radius: 24px;
      background: #f0f0f0;
      padding: 0px 16px;
      .time-text {
        flex: 1;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        color: #121212;
        margin: 0;
      }
      .restart-button {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        color: #121212;
        margin: 0;
        cursor: pointer;
      }
    }
  }
}

.loading-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 324px;
  height: 100%;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  @media (max-width: 1400px) {
    width: 48%;
  }
}

.loading-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
}

.loading-text-dot {
  animation: smoothFade 2s ease-in-out infinite;
}

@keyframes smoothFade {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
